body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 1450px 3285px;
}
header{
    color: darkgreen;
    background-color: white;
}
H2{
    color: aliceblue;
    background-color: brown;
}
footer{
    background-color: cyan;
}
img{
    border-radius:2%;
}